:root {
  --bg-body: #f8f8f8;
  --border: lightgray;
  --outline: lightblue;
  --theme-accent: orangered;
}

body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: var(--bg-body);
}

a,a:hover,a:visited{
    text-decoration:none;
    color: orangered;
}

form {
    margin-bottom: 0;
}

input{
    padding: 0.5rem 0.75rem;
    border-radius: 2px;
    border: 1px solid var(--border);
}

input:focus{
    outline-color: var(--outline) !important;
}

/*--- Loader ---*/
#loading{
    position: fixed;
    background: lightgrey;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    display: flex;
    z-index:1000;
}
.loader {
	margin:auto;
  border: 16px solid #ffffff;
  border-radius: 50%;
  border-top: 16px solid var(--theme-accent);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*--- Loader ---*/


/*--- Layout ---*/
.header { }
.main {}
.sidebar { 
/*border-left: 1px solid lightgray;*/
}
.footer { 
/*border-top: 1px solid lightgray;*/
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

@media (max-width:600px){

.grid-container {
  grid-template-columns: 1fr;
}

.sidebar {
/*border-left: none;*/
/*border-top: 1px solid lightgray;*/
}

}

.sidebar > .widget,
.footer > .widget {
    padding: 1rem;
}

/*--- Layout ---*/


/*--- MISC ---*/
.cache-ts{
    padding: 0.5rem 1rem;
    font-size: smaller;
    margin: 0;
    background: lightyellow;
}
/*--- MISC ---*/


/*--- PageList ---*/
.PageList {
    position: sticky;
    top: 0px;
}

.PageList ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.PageList li {
  float: left;
}

.PageList li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

.PageList li a:hover:not(.active) {
  background-color: #111;
}

.PageList .active {
  background-color: var(--theme-accent);
}
/*--- PageList ---*/


/*--- Blog ---*/
.Blog .post{
border-top: 1px dashed var(--border);
/*margin-bottom: 1rem;*/
padding: 1rem;  
}

.Blog .post:first-child{
    border-top:none;
}

.Blog .blog-posts {
    box-shadow: 1px 1px 6px 0px #ccc;
    margin: 0.5rem;
    background: white;
}

.Blog .post h3.post-title {
    margin-top: 0;
}

/*--- Blog ---*/


/*--- Pager ---*/
.blog-pager{
    display:flex;
    padding: 1rem;
    justify-content: center!important;
}

.blog-pager >  a{
    border: 1px solid var(--border);
    padding: 0.5rem .75rem;
}

.blog-pager >  a:hover{
    background: var(--theme-accent);
    color: white;
}
/*--- Pager ---*/


/*--- Sidebar ---*/
.sidebar > .widget {
    box-shadow: 1px 1px 6px 0px #ccc;
    margin: 0.5rem;
    border-radius: 2px;
    background: white;
}

.widget h3.title {
    margin-top: 0;
}

.sidebar form{
    display:flex;
    justify-content: flex-start;
}

.sidebar form > *{
    margin-left: 0.5rem;
}

.sidebar form > *:first-child {
    margin-left: 0;
}

.search-input, .follow-by-email-address { width: 60%;}
.sidebar input[type='submit']{ width: 40%; cursor: pointer;}
.sidebar input[type='submit']:hover { background: var(--theme-accent); color: #fff;}

/*--- Sidebar ---*/

/*--- Search ---*/
#BlogSearch1 form {
    display: flex;
}
/*--- Search ---*/


/*--- Labels ---*/
.cloud-label-widget-content{
	display: flex;
}
.cloud-label-widget-content > .label-size {
	border: 1px solid lightgray;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    border-radius: 1rem;
}
.cloud-label-widget-content > .label-size:hover, 
.cloud-label-widget-content > .label-size:hover * {
	background: var(--theme-accent);
	color: white;
}

.cloud-label-widget-content .label-count::before { content: '('; }
.cloud-label-widget-content .label-count::after { content: ')'; }
.cloud-label-widget-content .label-count{ color:lightgray; }
/*--- Labels ---*/


/*--- Text Widget---*/
.widget.Text{
    color: gray;
    text-align: justify;
}
/*--- Text Widget ---*/