body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

a,a:hover,a:visited{
text-decoration:none;
}

form {
    margin-bottom: 0;
}

/*--- Loader ---*/
#loading{
    position: fixed;
    background: lightgrey;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    display: flex;
    z-index:1000;
}
.loader {
	margin:auto;
  border: 16px solid #ffffff;
  border-radius: 50%;
  border-top: 16px solid #4caf50;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*--- Loader ---*/


/*--- Layout ---*/
.header { grid-area: header; }
.main { grid-area: main; }
.sidebar { 
grid-area: right; 
border-left: 1px solid lightgray;
}
.footer { 
grid-area: footer; 
border-top: 1px solid lightgray;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header'
    'main main main right right'
    'footer footer footer footer footer';
}

@media (max-width:600px){

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header'
    'main main main main main'
    'right right right right right'
    'footer footer footer footer footer';
}

.sidebar {
border-left: none;
border-top: 1px solid lightgray;
}

}

.sidebar > .widget,
.footer > .widget
 {
padding: 1rem;
}
/*--- Layout ---*/


/*--- PageList ---*/
.PageList {
    position: sticky;
    top: 0px;
}

.PageList ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.PageList li {
  float: left;
}

.PageList li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

.PageList li a:hover:not(.active) {
  background-color: #111;
}

.PageList .active {
  background-color: #4CAF50;
}
/*--- PageList ---*/


/*--- Blog ---*/
.Blog .post{
border-top: 1px solid lightgray;
margin-bottom: 1rem;
padding: 1rem;
}

.Blog .post:first-child{
border-top:none;
}
/*--- Blog ---*/


/*--- Pager ---*/
.blog-pager{
display:flex;
    padding: 1rem;
justify-content: center!important;
}

.blog-pager>a{
border: 1px solid lightgray;
    padding: 0.5rem .75rem;
}
/*--- Pager ---*/


/*--- Search ---*/
#BlogSearch1 form {
    display: flex;
}
/*--- Search ---*/
